* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  line-height: 1.6em;
  list-style: none;
}
/* App.js */
.bg-secondary-colour {
  background-color: #f8fafd;
}

.bg-primary-colour {
  background-color: #353942;
  color: white;
}

.btn.bg-primary-colour:hover {
  background-color: antiquewhite;
}
.bg-antiquewhite {
  background-color: antiquewhite;
  /* background-color: azure; */
}

/* Top bar */
.text-light {
  border-radius: 6px;
}
.text-light:hover {
  background-color: #515462;
}

/* Home page*/
.pop-up-message {
  text-align: center;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  border-radius: 4px;
}
.poppins-font {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}
