* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* primary colour #ffd74A */
/* primary dark #ab9032*/
/* #2b2b2b*/
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.js */
.bg-secondary-colour {
  background-color: #f8fafd;
}

.bg-primary-colour {
  background-color: #353942;
  color: white;
}

.btn.bg-primary-colour:hover {
  background-color: antiquewhite;
}
.bg-antiquewhite {
  background-color: antiquewhite;
  /* background-color: azure; */
}

/* Top bar */
.text-light {
  border-radius: 6px;
}
.text-light:hover {
  background-color: #515462;
}

/* Home page*/
.pop-up-message {
  text-align: center;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  border-radius: 4px;
}

.main-page-colour {
  background-color: #f8fafd;
  height: 100%;
}

.poppins-font {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}

/* Login and signup Page */

.login-signup-container {
  max-width: 50vw;
  margin: auto;
}
